@use "../../styles/variables.scss" as v;

.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  gap: 1.688rem;

  
  a {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font-family: v.$font-source;
    font-weight: 400;
    transition: all 500ms;
    padding: 1rem;
    
    &:hover {
      color: v.$bg-color;
      border-bottom: 1px solid v.$bg-color;
    }
  }
  
}

.link {
  color: #d4d4d8;
}

.linkActive {
  color: v.$bg-color;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  font-family: v.$font-source;
  border-bottom: 1px solid v.$bg-color;
}