$font-roboto: "Roboto", sans-serif;
$font-source: "Source Sans 3", sans-serif;

$primary-color: hsla(211, 64%, 35%, 1);
$secondary-color: hsla(4, 97%, 70%, 1);
$bg-color: rgb(255, 255, 255);

$text: hsla(227, 79%, 33%, 1);
$text-footer: hsla(0, 0%, 0%, 1);

$border: hsla(200, 100%, 50%, 1);

$font-source: "Source Sans 3", sans-serif;
$font-inter: "Inter", sans-serif;

$neutral-50: #fafafa;
$neutral-100: #f5f5f5;
$neutral-200: #e5e5e5;

// Variables
$primary-blue: #007bff;
$border-color: #e1e4e8;
$shadow: 0 10px 25px rgba(0, 0, 0, 0.1);