@use '../../styles/variables.scss' as v;

.footer, .footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 10px 0;
  background-color: v.$neutral-100;
  width: 100%;

  @media (width <= 768px) {
    padding: 10px 0; 
  }
}

.footerContainer {
  width: 100%;
  max-width: 20rem;
  text-align: center;

  @media (width >= 768px) {
    max-width: 80vw;
  }

  p {
    margin: 0;
    font-size: clamp(0.7rem, 2vw, 0.85rem); 
    text-align: center;
    line-height: 1.5; 
    color: v.$text-footer;
  }
}