@use "../../styles/variables.scss" as v;

.usuario, .usuarioContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.usuario {
  height: fit-content;

  @media (width >= 64rem) {
    height: 573px;
  }
}

.usuarioContainer {
  flex-direction: column;
  max-width: 80rem;
  padding: 24px;
  gap: 1rem;

  img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 100%;
    border: 5px solid v.$border;

    @media (width >= 64rem) {
      width: 480px;
      height: 480px;
    }
  }
  
  @media (width >= 64rem) {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
}

.textElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 100%;

  @media (width >= 64rem) {
    text-align: left;
    align-items: start;
    justify-content: left;
  }
}

.id {
  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  p {
    color: #278733;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.bio {
  width: 400px;
  max-width: 100%;
  font-size: 1rem;
  line-height: 1.25rem;

  @media (width >= 64rem) {
    width: 700px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  
  div {
    padding: 4px 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    
    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  @media (width >= 64rem) {
    flex-direction: row;
    justify-content: left;
  }
}

.badges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  
  .badge {
    border-radius: 10px;
    height: fit-content;
    background-color: #D4E7D6;
    color: #278733;
    padding: 4px 8px;
    font-weight: 500;
    text-align: center;

    @media (width >= 64rem) {
      width: fit-content;
      padding: 6px 12px;
      border-radius: 14px;
    }
  }

  @media (width >= 64rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}