@use "./styles/variables.scss" as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: v.$font-source;
  text-decoration: none;
}

button {
   cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
}